* {
    margin: 5px;
}

body {
    font-family: 'Libre Baskerville', serif;
}

.nav-link {
    color: #2b2862;
    font-weight: 500;
}

#header-btn {
    background-color: #2b2862;
    color: #fff;
    padding: 14px 30px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 400;
}

section {
    padding: 3% 5%;
}

.hero-header {
    max-width: 90%;
    font-size: 3rem;
    line-height: 1.6;
    color: #2B2864;
    font-weight: 700;
}

.hero-subheader {
    color: #1f1d49;
    max-width: 75%;
    line-height: 1.8;
    margin-top: 8px;
    font-size: 0.9rem;
}