
* {
    box-sizing: border-box;
}

body {
    background: #F5F4FF;
    padding: 8%;
}

.bg {
    background: #FDD2D1;
    width: 70%;
    margin: 5% auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
}

.form-container {
    background: #fff;
    width: 80%;
    margin: -15% auto;
    padding: 50px;
    border-radius: 30px;
}

.rating-header {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.star, .star-unfilled {
    border: 1px solid hsl(245, 100%, 90%);
    padding: 5px 4px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.star {
    color: hsl(50, 100%, 65%);
}

.star-unfilled {
    color: hsl(245, 100%, 90%);
}

.rating-cta {
    margin-top: 8px;
}

.input-container, .form-note, .submit-btn {
    margin-top: 5%;
}

.form-label {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.form-control {
    font-size: 1rem;
}

.form-check-input:checked, .form-check-label::before {
    background-color: #121633;
}

.submit-btn {
    background: #121633;
    color: #fff;
    font-size: 0.9rem;
    padding: 12px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    background: hsl(233, 48%, 20%);
    transition: 2ms;
}