
* {
    box-sizing: border-box;
}

body {
    background: #F5F4FF;
    padding: 8%;
}

.bg {
    background: #FDD2D1;
    width: 80%;
    margin: 5% auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
}

.form-container {
    background: #fff;
    width: 75%;
    margin: -15% auto;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 8px 32px 0 rgba(253, 210, 209, 0.4);
}

.close {
    float: right;
    background: #F5F4FF;
    color: #5952ad;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 30px;
    cursor: pointer;
}

.rating-header {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.star, .star-unfilled {
    border: 1px solid hsl(245, 100%, 90%);
    padding: 5px 4px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.star {
    color: hsl(50, 100%, 65%);
}

.star-unfilled {
    color: hsl(245, 100%, 90%);
}

.rating-cta {
    margin-top: 8px;
}

.input-container, .form-note, .submit-btn {
    margin-top: 5%;
}

.form-label, .form-check-label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.form-control {
    font-size: 1rem;
}

.form-check-input:checked, .form-check-label::before {
    background-color: #121633;
}

.accept-link {
    text-decoration: underline;
    color: #121633;
}

.form-note {
    font-size: 0.8rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.submit-btn {
    background: #121633;
    color: #fff;
    font-size: 0.9rem;
    padding: 12px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    background: hsl(233, 48%, 20%);
    transition: 2ms;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
}

.close-icon {
    color: #242640;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.modal-header {
    clear: both;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: #242640;
}

.message {
    text-align: center;
}